/* #region | Variables & typography --- */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* font parameters: */

$ff-primary: 'Source Sans Pro', sans-serif;
$ff-secondary: 'Source Code Pro', monospace;

$fw-reg: 300;
$fw-bold: 600;

$clr-light: #fafaf1;
$clr-accent: rgb(104, 151, 117);
$clr-dark: rgb(40, 40, 40);
$clr-midpt: rgb(145,145,141);

$fs-h1: 3.5rem;
$fs-h2: 2.25rem;
$fs-h3: 1.25rem;
$fs-body: 1rem;

$bs-left: -0.25em  0.25em  0.75em rgba(0,0,0,0.25),
        -0.125em 0.125em 0.25em rgba(0,0,0,0.15);
$bs-right: 0.25em  0.25em  0.75em rgba(0,0,0,0.25),
        0.125em 0.125em 0.25em rgba(0,0,0,0.15);
$bs-light: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);

/* Redifine font size if there's a big display */
@media (min-width: 800px){
    $fs-h1: 4.5rem;
    $fs-h2: 3.75rem;
    $fs-h3: 1.5rem;
    $fs-body: 1.125rem;
}

/* General Styles */

button:hover{
    cursor: pointer;
}

html{
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background: $clr-dark;
    font-family: $ff-primary;
    font-size: $fs-body;
    line-height: 1.6;
    height: 100%;
}

// section{
//     padding: 5em 2em;
// }

img{
    display: block; 
    max-width: 100%;
}


/* ------ Typography ------ */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {font-size: $fs-h1}
h2 {font-size: $fs-h2}
h3 {font-size: $fs-h3}

//dummy element for getting em unit size in jQuery (hidden from user)
.hidden{
    position: absolute;
    left: 500vw;
}
.dummy-em{
    height: 1em;
}

/* #endregion */


/* #region | Introduction ------------- */

.intro{
    background-color: $clr-dark;
    background-image: url(../img/webvort_small.webp);
    background-size: 750px;
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 75%;
    max-height: 1100px;
    min-height: 600px;
    margin: 0;
    z-index: 0;

    .nameplate_container{
        position: fixed;
        z-index: 1;
        left: 0;
        right: 0;
        margin-top: 10em;
        padding: 0 2em;
        .intro__title{
            background: $clr-accent;
            font-family: $ff-primary;
            font-weight: $fw-bold;
            color: $clr-dark;
            margin-bottom: 0.1em;
            text-align: center;
            // display: inline-block;
        }
        .intro__subtitle{
            // background: $clr-dark;
            align-self: start;
            font-size: $fs-h3;
            font-family: $ff-secondary;
            font-weight: $fw-reg;
            color: $clr-light;
            text-align: right;
            margin-bottom: 1em;
            position: relative;
            right: 1em;
        }
        .intro__img{
            box-shadow: $bs-right;
            border-radius: 50%;
            width: 400px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
}


@media (min-width: 750px){
    .intro{
        background-size: 100%;
        background-position: 50% 0;
        .nameplate_container{
            display: grid;
            width: min-content;
            margin-left: auto;
            margin-right: auto;
            grid-template-areas: 
                "title img"
                "subtitle img";
            grid-template-columns: max-content min-content;
            grid-column-gap: 7em;
            .intro__title{
                grid-area: title;
                align-self: start;
                grid-column: -1/1;
                grid-row: 1;
                text-align: left;
                margin-top: 1em;
                width: calc(100% + 1em);
                position: relative;
                top: 1em;
                padding-left: 0.25em;
            }
            .intro__subtitle{
                grid-area: subtitle;
                grid-column: 1/1;
                text-align: right;
                position: relative;
                right: -3.5em;
                top: -1.5em;
            }
            .intro__img{
                grid-area: img;
                min-width: 400px;
                position: relative;
            }
        }
    }
}

@media (min-width: 1350px){
    .intro{
        background-size: 1350px; // stop background from growing too large
    }
}
/* #endregion */


/* #region | About me ----------------- */

$expand_delay: 1s; // defines lenght of time to expand more info dropdowns

.about-me{
    width: 100%;
    padding-top: 80px;
    overflow: hidden;

    .about-me__inner{
        background-color: $clr-light;
        /* #region | blur the boundary line */
        box-shadow: 
            0px -2px  2px $clr-dark,
            0px -4px  4px $clr-dark, 
            0px -8px  8px $clr-dark, 
            0px -12px 12px $clr-dark, 
            0px -20px 20px $clr-dark, 
            0px -40px 40px $clr-dark,
            inset 0px 2px  2px  -2px $clr-dark, 
            inset 0px 4px  4px  -4px $clr-dark,
            inset 0px 8px  8px  -8px $clr-dark, 
            inset 0px 12px 12px -12px $clr-dark, 
            inset 0px 20px 20px -20px $clr-dark,
            inset 0px 40px 40px -40px $clr-dark;
        /* #endregion */
        position: relative;
        z-index: 3;
        .about-me__title{
            color: $clr-accent;
            text-align: center;
            padding-top: 1em;
            &:after{
                content:'';
                display: block;
                width: 115px;
                height: 1px;
                margin: 0.5em auto 1em;
                background: $clr-dark;
                opacity: 0.5;
            }
        }
        .catagories{
            .catagory{
                text-align: center;
                .more-info{
                    > * {
                        margin: 1em 0;
                    }
                    background-color: $clr-light;
                    padding: 0 15%;
                    .more-info__text{
                        transition: opacity 0s;
                        opacity: 0;
                    }
                    .more-info__text.open{
                        color: $clr-accent;
                        opacity: 1;
                    }
                    &:hover{
                        .more-info__text{
                            transition: opacity .25s ease-in-out;
                            opacity: 1;
                        }
                    }
                }
                .dropdown-content{    
                    border: none;
                    z-index: -10;
                    height: 0px;
                    visibility: hidden;
                    transition: 
                        // z-index 0.1s step-end,
                        // visibility $expand_delay step-end,
                        height $expand_delay step-end;
                    color: $clr-light;
                    background-color: $clr-light;
                    background-image: none;
                    position: relative;
                    .nav-list{
                        visibility: hidden;                    
                        transition: 
                            visibility $expand_delay step-start;
                        display: grid;
                        row-gap: 5px;
                        padding-top: 2em;
                        .nav-item{
                            grid-column: 1;
                            margin-top: -1em;
                            background-color: $clr-light;
                            color: $clr-dark;
                            border: 2px solid $clr-dark;
                            border-left: none;
                            border-radius: 0 1em 1em 0;
                            font-size: $fs-body;
                            font-weight: $fw-reg;
                            margin-right: auto;
                            margin-left: 0;
                            width: 7em;
                            height:7em;
                            text-align: center;
                        }           
                        .tab_0, .tab_2{
                            z-index: -10;
                        }
                        .tab_1{
                            z-index: -9;
                        }       
                        // .open{
                        //     border: 2px solid red;//$clr-accent;
                        //     z-index: -8;
                        // }
                    }
                    .tab_container{
                        visibility: hidden;
                        background-color: $clr-light;
                        color: $clr-dark;
                        position: absolute;
                        top: 1em;
                        left: 9em;
                        width: calc(100% - 9em - 1em);
                        border-radius: 1em;
                        padding: 2em;
                        // transform: translateX(-10000px);
                        display: none;
                        max-height: calc(700px - 2em);
                    }
                    .tab_container.open{
                        transform: translateX(0%);
                        display: block;
                        overflow-x: hidden;
                        overflow-y: hidden;
                    }
                }
                .dropdown-content.slideclosed{
                    &.phys_dropdown{
                        background-image: url("../img/background_CompPhys.webp");
                    }
                    &.maker_dropdown{
                        background-image: url("../img/sodler.webp");
                    }
                    &.web_dropdown{
                        background-image: url("../img/programming.webp");
                    }
                    border:2px solid $clr-dark;
                    border-top: none;
                    border-bottom: none;
                    background-color: rgba(40, 40, 40,0.85);
                    background-size: cover;
                    background-position: center center;
                    background-blend-mode: multiply;
                    visibility: visible;
                    transition: 
                    z-index 0.1s step-end,
                    visibility $expand_delay step-end,
                    height $expand_delay ease-in-out;
                    .tab_container,
                    .nav-list{
                        visibility: visible;
                    }
                }
                .dropdown-content.open{
                    border:2px solid $clr-dark;
                    background-color: rgba(40, 40, 40,0.85);
                    background-size: cover;
                    background-position: center center;
                    background-blend-mode: multiply;
                    visibility: visible;
                    overflow-y: hidden;
                    z-index: -3;
                    height: 700px;   
                    transition:
                        z-index $expand_delay step-end,
                        height $expand_delay ease-in-out;
                    z-index: 3;

                    .tab_container{
                        visibility: visible;
                    }

                    .nav-list{
                        visibility: visible;
                    }

                    .nav-item.tab_0, .nav-item.tab_2{
                        z-index: 3;
                    }
                    .nav-item.tab_1{
                        z-index: 4;
                    }
                }
                .open > .nav-list > .nav-item.open, .nav-list > .nav-item.open{
                    z-index: 5;
                    border: 3px solid $clr-accent;
                    border-left: none;
                    font-size: calc( 1.05*#{$fs-body} );
                    font-weight: $fw-bold;
                }


                .tab_container.tab_0{
                    width: calc( 70% - 9em ); 
                    min-width: 320px;
                    max-width: 600px;
                    margin: 0;
                    .bar{
                        white-space: nowrap;
                        &+.bar{
                            margin-top: 2em;
                        }
                        position: relative;
                        top: 0;
                        text-align: left;
                        background-color: $clr-dark;
                        color: $clr-light;
                        font-weight: $fw-bold;
                        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
                        .bar_border{
                            position: absolute;
                            $border: 10px;
                            $padding: 5px;
                            top: -$border;
                            left: -$border;
                            width: calc(100% + 2*#{$border});
                            height: calc(1.6*#{$fs-body} + 2*#{$padding} + 2*#{$border}); 
                            //height = line height * body fontsize + padding + border
                            border: 10px solid $clr-light;
                            border-radius: calc( 0.5*1.6*#{$fs-body} + 2*#{$border});
                        }

                        /* #region | skill bar animation stuff  */

                        &:before{
                            content:  attr(data-skill);
                            white-space:nowrap;
                            background-color: $clr-accent;
                            display: inline-block;
                            padding: 5px 0 5px 10px;
                        }
                        &:after{
                            display: inline-block;
                            opacity: 1;
                        }
                        &.skill_level_1::before{
                            width: calc( 0.1*100%);
                        }
                        &.skill_level_1::after{
                            content: "10%";
                            transform: translateX( 10px );
                        }
                        &.skill_level_2::before{
                            width: calc( 0.2*100%);
                        }
                        &.skill_level_2::after{
                            content: "20%";
                            transform: translateX( 10px );
                        }
                        &.skill_level_3::before{
                            width: calc( 0.3*100%);
                        }
                        &.skill_level_3::after{
                            content: "30%";
                            transform: translateX( 10px );
                        }
                        &.skill_level_4::before{
                            width: calc( 0.4*100%);
                        }
                        &.skill_level_4::after{
                            content: "40%";
                            transform: translateX( 10px );
                        }
                        &.skill_level_5::before{
                            width: calc( 0.5*100%);
                        }
                        &.skill_level_5::after{
                            content: "50%";
                            transform: translateX( 10px );
                        }
                        &.skill_level_6::before{
                            width: calc( 0.6*100%);
                        }
                        &.skill_level_6::after{
                            content: "60%";
                            transform: translateX( 10px );
                        }
                        &.skill_level_7::before{
                            width: calc( 0.7*100%);
                        }
                        &.skill_level_7::after{
                            content: "70%";
                            transform: translateX( 10px );
                        }
                        &.skill_level_8::before{
                            width: calc( 0.8*100%);
                        }
                        &.skill_level_8::after{
                            content: "80%";
                            transform: translateX( 10px );
                        }
                        &.skill_level_9::before{
                            width: calc( 0.9*100%);
                        }
                        &.skill_level_9::after{
                            content: "90%";
                            transform: translateX(calc(-100% - 10px) );
                        }
                        &.skill_level_10::before{
                            width: calc( 1.0*100%);
                        }
                        &.skill_level_10::after{
                            content: "100%";
                            transform: translateX(calc(-100% - 10px) );
                        }

                        &.openTab:before{
                            animation: load 1.5s 0s cubic-bezier(.35,.1,.4,1);
                        }
                        &.openDropdown:before{
                            // animation: load_fromDropdown calc( 1.5s + #{$expand_delay} ) 0s cubic-bezier(.35,.1,.4,1);
                            animation: load calc( 1.5s + #{$expand_delay} ) 0s cubic-bezier(.24,-0.4,.35,1);
                        }
                        &.openTab:after{
                            animation: show_perc calc( 1.5s + 0.1s ) cubic-bezier(1,-0.59,.59,1);
                        }
                        &.openDropdown:after{
                            animation: show_perc calc( 1.5s + #{$expand_delay} + 0.1s ) cubic-bezier(1,-0.59,.59,1);
                        }
                    }
                }
                @keyframes load{
                    from{width: 0%}
                }
                @keyframes show_perc{
                    from{opacity: 0;}
                    // to{opacity: 1;}
                }
                /* #endregion */


                .phys_dropdown.open{
                    background-image: url("../img/background_CompPhys.webp");
                    .tab_container.phys.tab_2.open{
                        overflow-y: scroll;
                        .waterwheel-description{
                            .waterwheel-pic{
                                width:50%;
                                margin: 1em auto;
                                img{
                                    margin: 0em auto 0.5em;
                                    border: 2px solid $clr-dark;
                                    box-shadow: $bs-right;
                                }
                                figcaption{
                                    font-size: calc( 0.85*#{$fs-body});
                                }
                            }
                        }

                        /* #region  waterwheel sim styling */
                        .waterwheel-sim_container{

                            display: grid;
                            grid-template-areas: 
                                "input runButton playpause"
                                "plot plot plot";
                            grid-template-columns: 50% 25% 25%;
                            max-width: 400px;
                            min-width: 200px;
                            margin: 0 auto;

                            .input_container{
                                grid-area: input;
                                width: 100px;
                                margin: 0 auto 0.5em;
                                color: $clr-dark;
                                .inp{
                                    width:80%;
                                }
                            }

                            input, textarea {
                                padding: 0.2em;
                                margin-bottom: 0em;
                                border-radius: 0.3em;
                                border: 1px solid gray;
                                box-sizing: border-box;
                            }

                            .button{
                                opacity: 0.5;
                                margin: auto;
                                &.run{
                                    grid-area: runButton;
                                    margin-right: 0;
                                }
                                &.pauseplay{
                                    grid-area: playpause;
                                    margin-left: 10px;
                                }
                                margin-bottom: 0.5em;
                                width: 3em;
                                height: 3em;
                                padding: 2px 10px;
                                border-radius: 0.3em;
                                border: none;
                                font-weight: $fw-bold;
                                background: $clr-midpt;
                                box-shadow: $bs-light;
                                color: $clr-light;
                                text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
                                user-select: none;
                                touch-action: manipulation;
                                &:not(.useable):hover{
                                    cursor: not-allowed;
                                }
                                &.useable:active{
                                    // background: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
                                    // color: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
                                    background: $clr-accent;
                                }
                                &.useable{
                                    opacity: 1;
                                }
                              }

                            .canvases{
                                grid-area: plot;
                                .canvas_1{
                                    width: 100%;
                                    max-width: 400px;
                                    min-width: 200px;
                                    aspect-ratio: 1/1;
                                    background-color: $clr-dark;
                                    display: block;
                                    margin:0 auto;
                                    border: 2px $clr-dark solid;
                                    border-bottom: none;
                                }
                                .canvas_2{   
                                    width: 100%;
                                    max-width: 400px; 
                                    min-width: 200px;
                                    aspect-ratio: 4/1;
                                    background-color: $clr-dark;
                                    border: 2px $clr-dark solid;
                                    margin: auto;
                                    bottom: 3px;
                                }
                            }
                        } 
                        /* #endregion */
                    }
                }
                .maker_dropdown.open{
                    background-image: url("../img/sodler.webp");
                }
                .web_dropdown.open{
                    background-image: url("../img/programming.webp");
                }

            }

        }
    }
}

@media (min-width: 900px){
 
.about-me > .about-me__inner{
    .catagories{
        max-width: 1200px;    
        margin-left: auto;
        margin-right: auto;
        padding: 0 3em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3em;
        .catagory{
            .more-info{
                padding: 0;
                min-width: calc(250px-4em);
                .maker_title{
                   margin: 1.5em 0;
                }
                &:after{
                    opacity: 0;
                } 
            }

            // .dropdown-content{
                // width: calc(300% + 6em );
                // transform: translateX(-100px);
                // width: 100vw;
            // }

            .phys_dropdown{
                .tab_container.phys.tab_2.open{
                    display: grid;
                    grid-template-areas: "description sim";
                    grid-column-gap: 2em;
                    .waterwheel-description{
                        grid-area: description;
                        .waterwheel-pic{
                            width: 60%;
                        }
                    }
                    .waterwheel-sim_container{
                        grid-area: sim;
                        width: 350px;
                        .canvases{
                            .canvas_1, .canvas_2{
                                width: 350px;
                            }
                        }
                    }
                }
            }
        }

    }

}

}






/* #endregion */


/* #region | Footer ------------------- */
.footer{        
    &:before{
        content:'';
        display: block;
        width: 100%;
        height: 1px;
        margin-bottom: 1.5em;
        background: $clr-dark;
        opacity: 0.5;
    }
    background-color: $clr-light;
    color: $clr-accent;
    text-align: center;
    padding: 2.5em 0;
    font-size: $fs-h3;
    font-weight: $fw-reg;

    .goodbye{
        font-size: $fs-h2;
        margin-bottom: 1.5em;
        font-weight: $fw-bold;
    }

    .footer__link:hover,
    .social-list__link:hover{
        opacity: 0.7;
    }
    .footer__link:hover{
        text-decoration: underline;
    }
    .social-list{
        list-style: none; /* remove bullets*/
        display: flex; /* put next to eachother */
        justify-content: center;
        margin: 1em 0 0;
        padding: 0;
    }
    
    .social-list__item{
        margin: 0 0.5em;
    }
    
    .social-list__link{
        padding: 0.5em;   
    }

    a{
        color: inherit;
        text-decoration: none;
    }

}
/* #endregion */

